<form class="mb-3" [formGroup]="noteFg" (ngSubmit)="onPostNote(postNoteBtn)">
  <textarea id="postNoteTxtArea"
            nz-input placeholder="Input note text ..."
            formControlName="text"
            class="mb-3"
            [nzAutosize]="{ minRows: 3, maxRows: 5 }">
  </textarea>
  <button #postNoteBtn
          nz-button nzType="primary"
          type="submit"
          [nzLoading]="postNoteBtn['isLoading']">
    <i nz-icon nzType="arrow-down"></i> Post Note
    {{postNoteBtn['request$'] | async}}
  </button>
</form>

<nz-spin *ngLet="notes$ | async as notes" [nzSpinning]="isNotesLoading" [nzDelay]="300">
  <ul nz-list nzBordered nzSize="small"
      nzNoResult="No notes to display"
      [style.min-height.px]="isNotesLoading || !notes?.length  ? 90 : 0"
      [nzDataSource]="notes">
    <li *ngFor="let note of notes" nz-list-item nzNoFlex>
      {{ note.text }}
      <ul nz-list-item-actions>
        <nz-list-item-action>
          <button #deleteNoteBtn
                  nz-button nzDanger nzSize="small"
                  [nzLoading]="deleteNoteBtn['isLoading']"
                  (click)="onDeleteNote(deleteNoteBtn, note)">
            Remove
            {{deleteNoteBtn['request$'] | async}}
          </button>
        </nz-list-item-action>
      </ul>
    </li>
  </ul>
</nz-spin>
