<h4 class="mb-4">Notes application with Angular</h4>

<ng-container *ngFor="let section of sections">
  <h6 class="mb-3">{{section.label}}</h6>
  <nz-timeline>
    <nz-timeline-item *ngFor="let item of section.items">
      <trainings-code-markdown [label]="item.label"
                               [code]="item.markDownIt">
      </trainings-code-markdown>
    </nz-timeline-item>
  </nz-timeline>
</ng-container>

<trainings-result-code-editor [codeEditorMap]="codeEditorMap"></trainings-result-code-editor>
