<div style="max-width: 1000px" class="container-fluid py-3">
<!--  <h6 class="mb-3">Заблокировать кнопку на 3 секунды</h6>-->
<!--  <button #clickMeBtn-->
<!--          nz-button nzType="primary"-->
<!--          [disabled]="isBtnDisabled$ | async"-->
<!--          [nzLoading]="clickMeBtn['isLoading']"-->
<!--          (click)="clickMeBtn['request$'] = getRandomNumbersRq$(clickMeBtn)">-->
<!--    <i nz-icon nzType="star" nzTheme="outline"></i>-->
<!--    Click me!-->
<!--    <ng-container *ngIf="clickMeBtn['request$'] | async"></ng-container>-->
<!--  </button>-->

<!--  <hr/>-->

<!--  <h6 class="mb-3">Интервальное обновление данных</h6>-->
<!--  <pre *ngIf="randomNumbersByInterval$ | async as numbers">{{numbers | json}}</pre>-->

<!--  <hr/>-->

  <h6 class="mb-3">Кеширование данных на 3 секунды</h6>
  <button #cacheDataBtn
          nz-button nzType="primary"
          [nzLoading]="cacheDataBtn['isLoading']"
          (click)="cacheDataBtn['request$'] = getCachedRandomNumbersRq$(cacheDataBtn)">
    <i nz-icon nzType="star" nzTheme="outline"></i>
    Click me!
    <ng-container *ngIf="cacheDataBtn['request$'] | async"></ng-container>
  </button>
</div>
